contacts/.settings/org.eclipse.core.resources.prefs
contacts/.settings/org.eclipse.m2e.core.prefs
contacts/.settings/com.google.gdt.eclipse.core.prefs
contacts/.settings/org.eclipse.wst.common.component
